
body{
    background-image:url("images/background.jpg");
    background-size:cover;
    height: 100vh;
    font-family: 'Roboto Condensed', sans-serif;
  } 

a:link {
    color:rgb(237, 243, 243);
}
a:visited{
    color:beige;
}
a:hover{
    color:red;
}
a:active{
    color:rgb(34, 175, 16);
}

abbr{
    text-decoration:underline;
}

#mainlogo {
    display:block;
    margin:auto;
    
    
}


 ul {
   list-style-type: none;
   background-color: red;
   text-align:center;
   
}

ul li {
    display:inline-block;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;  
    
}

ul li a{
    display:block;
    padding:20px 30px;
    color:white;
    text-decoration:none;
    font-size:20px;
    text-transform: uppercase;
    
}


ul li ul.dropdown {
    background-color:red;
    color:white;
    position:absolute;
    display:none;
    
}

ul li ul.dropdown li {
    display:block;
}


ul li a:hover{
    background-color:whitesmoke;
    
}


ul li:hover ul.dropdown {
    display:block;
    padding:5px 5px;
    text-align:left;
}

 
div.center {
    text-align:center;
}

html {
    scroll-behavior: smooth;
  }